<div class="transaction-contents"> 
  <div class="transaction-main">
    <h1 class='transaction-title-text'>
      大会内容の確認
    </h1>
    <div class="entry_info">
      <div class='buy-item-right-content'>
      <th class="detail-item">大会タイトル</th>
        <h2 class='buy-item-text'>
          <%= @tournament.event_title %>
        </h2>
        <th class="detail-item">開催場所</th>
        <h2 class='tounament_adress'>
          <%= @tournament.event_address %>
        </h2>
      </div>
    </div>
  </div>
</div>

  <%= form_with model: @entry,url:tournament_entries_path, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>

  <div class='entry-team-form'>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">参加チーム名</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :team_name, class:"input-default", id:"team_name", placeholder:"例）ジーコJAPAN", maxlength:"15" %>
    </div>
  </div>

  <div class='entry-team-form'>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">チーム代表者名</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :team_captain, class:"input-default", id:"team_name", placeholder:"例）田中 太郎", maxlength:"15" %>
    </div>
  </div>

  <div class='entry-team-form'>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">代表連絡先</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :phone, class:"input-default", id:"team_name", placeholder:"例）09012345678", maxlength:"15" %>
    </div>
  </div>

  <div class='entry-btn'>
      <%= f.submit "参加する" ,class:"entry-red-btn" %>
  </div>
  <% end %>