<div class="main">
  <div class="title-contents">
    <h1 class="service-title">
      フットサル大会参加者大募集
    </h1>
  </div>
</div>

<div class="ope"></div>

    <div class="nav">
      <ul class="lists-left">
      <ul class="lists-right">
          <% if operation_signed_in? %>
              <li><%= link_to current_operation.operation_name,class:"operation_name" %></li>
              <li><%= link_to '運営ログアウト', destroy_operation_session_path, method: :delete, class: "logout" %></li>
              <li><%= link_to  '参加者を募集する', new_tournament_path, class: "operation_name" %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to current_user.name, class: "user-name" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
            <% else %>
              <li><%= link_to "運営 ログイン",new_operation_session_path, class: "login" %></li>
              <li><%= link_to '運営 新規登録',new_operation_registration_path, class: "sign-up" %></li>
              <li><%= link_to 'ユーザーログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to 'ユーザー新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
      </ul>
      </ul>
    </div>

  <div class= "tournament">
    <% @tournament.each do |tournament| %>
      <div class="tournaments">
        <%= link_to tournament_path(tournament.id) do %>
          <%= tournament.event_title %>
          <div class="tournamnet-contents">
              <%= tournament.event_month.name %>
              <%= tournament.event_date.name %>
              <%= tournament.event_time.name%>
          </div>
          <div class="tournament_contents">
              <span>募集数  <%= tournament.entry_participation.name%>
          </div>
          <span>料金 <%= tournament.fee%><span> 円
        <% end %>
      </div>
    <% end %>
  </div>






